#title{
    color:green;
    text-align: center;
    font-size: 100px;
}
#body{
    background-color:orange;
}
#about{
    color:green;
    font-size: 35px;
}
#ABOUTm{
    color:green;
    font-size: 70px;
}
#site{
    color: green;
    text-align: center;
    font-size: 20px;
}
#contact{
    text-align: center;
}
